.meal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/featured3.jpg);
  height: 80vh;
  max-height: 500px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.meal__info {
  color: #fff;
  line-height: 1;
  font-weight: bold;
}

.meal__info h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.meal__info h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 400;
}

.bt {
  background-color: #ffc500;
  width: 200px;
  color: #000;
}

@media (max-width: 500px) {
  .meal__info {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    margin-bottom: 60px;
  }

  .meal__info h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .meal__info h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400;
  }
}
